@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-secondary overflow-x-hidden bg-[#F5F7FA];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black font-medium;
}

.category-item:hover img {
  @apply scale-110;
}

.category-item:hover h4 {
  @apply text-primary underline;
}

.product-item:hover {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.07);
}

.product-item:hover .product-item-opt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

@media (min-width: 1532px) and (max-width: 1620px) {
  .container {
    padding: 0 100px !important;
  }
}

@media (min-width: 1350px) and (max-width: 1400px) {
  .container {
    padding: 0 100px !important;
  }
}

@media (min-width: 1020px) and (max-width: 1100px) {
  .container {
    padding: 0 100px !important;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px !important;
  }
}
